.book .book-summary {
  background-color: rgb(45, 134, 179);
  background-image: url(logo-cms-white.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 50px;
  box-shadow: inset -4px 0 0 #267196;
  font-size: 1em;
}

.book .book-summary ul.summary {
  background-color: rgb(45, 134, 179);
  box-shadow: inset -4px 0 0 #267196;
  margin-top: 70px;
}

.book .book-summary ul.summary li a {
  color: white;
}

.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li.active a {
  background-color: #267196;
  color: white;
}
